.ant-input{
  height:40px;
}
.print_all{
  min-width: 1030px;
  border:1px solid #e5e5e5;
  background: #FFFFFF;
  font-family: '微软雅黑 Bold', '微软雅黑';
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.print_normal{
  width:100%;
  padding:16px;
  overflow: hidden;
  background:rgba(102, 102, 102, 1);
  color: #FFFFFF;
}
.print_w100{
  width:100%;
  padding:16px;
  overflow: hidden;
  border:none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background:rgba(102, 102, 102, 1);
  color: #FFFFFF;
  margin:0px auto 0px;
}
.print_w_ll_50{
  width: 50%;
  float: left;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
}
.print_w_ll_70{
  width: 70%;
  float: left;
  text-align: left;
  font-size: 14px;
}
.print_w_rr_30{
  width: 32%;
  float: right;
  text-align: right;
  font-size: 14px;
}
.print_w_ll_30{
  width: 32%;
  float: left;
  font-size: 14px;
  text-align: left;
}
.print_w_lc_30{
  width: 32%;
  float: left;
  text-align: center;
  font-size: 14px;
}

.print_w_rr_50{
  width: 48%;
  float: right;
  text-align: right;
  font-size: 14px;
}
