.roomStatusDiv {
  padding: 10px;
  .antCli {
    width: 100%;
    height: 40px;
  }
  p {
    font: 13px "微软雅黑";
  }
  .ScreenBarDiv {
    margin-left: 10px;
    .headDiv {
      width: 100%;
      line-height: 40px;
      div {
        border-radius: 5px;
      }
      .titlespan {
        margin-left: 60px;
        line-height: 40px;
        font: 10px "微软雅黑";
        span {
          font: 18px "微软雅黑";
        }
      }
      .switchDiv {
        margin-top: 9px;
        float: left;
        background-color: rgb(247, 165, 50);
      }
      .ant-switch {
        border-radius: 0;
      }
      .ant-switch:after {
        border-radius: 0;
      }

    }
    .ant-checkbox-group-item {
      span {
        font: 14px "微软雅黑";
      }
    }
    .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
      background-color: #b67233;
      border-color: #b67233;
    }
    .SelectDiv {
      margin-top: 10px;
      label {
        font: 14px "微软雅黑";
      }
      .btn {
        background: #f1e8df;
        border-color: #bb7c41;
        color: #b67233;
        font: 14px "微软雅黑";
        height: 30px;
        width: 120px;
        margin-right: 10px;
        float: right;
      }
    }
    .radioDiv {
      margin-top: 10px;
      h4 {
        font: 14px "微软雅黑";
        color: #b67233;
      }
      .ant-checkbox-group-item {
        margin-left: 40px;
        margin-top: 15px;
      }
    }
  }
  .cardArrayDiv {
    margin-bottom: 20px;
    .smallCard {
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      width: 230px;
      height: 250px;
      .ant-card-head {
        padding: 0 10px;
        .ant-card-head-title {
          font-size: 14px;
          color: #b67233;
        }
      }
      .ant-card-extra {
        right: 10px;
        font: 13px "微软雅黑";
      }
      p {
        line-height: 25px;
      }
      h1 {
        line-height: 145px;
        text-align: center;
      }
      .bottomLine {
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        line-height: 25px;
      }
    }
  }

  .monthStateDiv {
    display: flex;
    .main {
      flex: 1;
      margin-left: 10px;
      .headDiv {
        width: 100%;
        height: 40px;
        .ant-switch {
          border-radius: 0;
        }
        .ant-switch:after {
          border-radius: 0;
        }
        .switch {
          margin-top: 9px;
          float: left;
          background-color: rgb(247, 165, 50);
        }
      }

      .timeSelectBox {
        background: #fff;
        height: 90px;
        border: 1px solid #d9d9d9;

        .yearSelectBox {
          padding-left: 10px;
          .yearSelect {
            width: 135px;
          }
        }

        .ant-checkbox-group {
          height: 100%;
        }

        .addBtn {
          width: 150px;
          background-color: #f8f1ea;
          color: #B67233;
        }
      }

      .queryBox {
        background: #fff;
        height: 100px;
        border: 1px solid #d9d9d9;
        border-top: none;

        .occupancyRateBox {
          width: 140px;
          height: 70px;
          border-right: 1px solid #E9E9E9;
          display: flex;
          align-items: center;
          justify-content: center;

          .rateTitle {
            font-size: 12px;
            color: #B67233;
          }

          .rateNumber {
            font-size: 24px;
            color: #B67233;
            line-height: 1;
          }
        }

        .floorSelect {
          width: 160px;
          margin-left: 15px;
        }

        .queryBtn {
          width: 150px;
          background-color: #B67233;
          color: #f8f1ea;
        }
      }

      .statusExplainBox {
        height: 70px;

        .statusItem {
          float: left;
          width: 30px;
          height: 20px;
          margin-right: 20px;
          border: 1px solid #d9d9d9;
          margin-left: 7px;
        }
      }

      .monthRoomListBox {
        width: 100%;
        height: 100%;
        background-color: #fff;

        .monthRoomBox {
          display: flex;
          height: 60px;
          margin-bottom: 10px;
          align-items: center;
          .monthRoomNumberBox {
            width: 84px;
            text-align: center;

            .number {
              font-size: 14px;
            }

            .level {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: #F89D2D;
              color: #fff;
              margin: 0 auto;
            }
          }

          .userBox{
            height: 100%;
            position: absolute;
            text-align: center;
            box-sizing: border-box;
            padding-top: 10px;
          }
          .userBox.active{
            border:1px solid red;
          }

          .dayRoom {
            float: left;
            height: 100%;
            width: 9px;
            background-color: #eee;
            position: relative;
            padding:0 1px;
            .stateBox {
              width: 7px;
              height: 21px;
              position: absolute;
              bottom: 6px;
            }
            .empty {

            }
            .reserve {
              background-color: #29C1A6;
            }
            .overlap {
              background-color: #B67233;
            }
          }

        }
      }

    }

    .sidebar {
      margin-left: 10px;
      width: 160px;
      height: 100%;
      background-color: #fff;
      padding-bottom: 20px;
      h3 {
        height: 56px;
        font-weight: 400;
        line-height: 56px;
        padding-left: 20px;
        font-size: 14px;
        color: #B67233;
      }

      .customerItem {
        width: 100px;
        height: 30px;
        margin: 0 auto 10px;
        background-color: #EEEEEE;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .addCustomerBtn {
        width: 110px;
        height: 30px;
        margin: 0 auto;
        background-color: #F8F1EA;
        border: 1px solid #B67233;
        border-radius: 3px;
      }
    }

  }
}


