.order-swimming {
  padding: 20px;

  min-height: 800px;
  .date-title {
    text-align: center;
    height: 100px;
  }
  .ItemLeft {
    text-align: center;
    .swimming-icon {
      width: 80px;
      height: 80px;
    }
    .swimming-select {
      width: 70px;
    }
  }
  .ItemRight {
    p {
      font-size: 18px;
    }
  }

}

.DetailCard {
  min-height: 800px;
  position: relative;
  .clickBtn {
    position: absolute;
    right: 60px;
    z-index: 9999999999999;
  }

  .date-title {
    text-align: center;
    height: 50px;
  }

  .DetailLeft {
    min-height: 600px;
    border-right: 1px solid #d9d9d9;
    .ItemLeft {
      margin-top: 20px;
      text-align: center;
      .swimming-icon {
        width: 80px;
        height: 80px;
      }
      .swimming-select {
        width: 70px;
      }
      .describe {
        margin: 10px 0;
      }
    }
  }

  .DetailRight {
    overflow-y: auto;
    height: 600px;
    .DetailValue {
      height: 50px;
      border-bottom: 1px solid #d9d9d9;
      .TimeValue {
        height: 100%;
        text-align: center;
        padding-top: 10px;
        .txtValue {
          margin-right: 20px;
          color: #009900;
          display: inline-block;
          width: 60px;
          text-align: center;
        }
      }
    }
  }

  .Detail-Bottom {
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
    text-align: right;
    .historyBtn {
      margin-right: 20px;
    }

  }
}

.HistoryCard {
  min-height: 800px;
  .date-title {
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #d9d9d9;
  }

  .DetailLeft {
    padding-top: 10px;
    min-height: 600px;
    border-right: 1px solid #d9d9d9;
    .ItemLeft {
      text-align: center;
      .swimming-icon {
        width: 80px;
        height: 80px;
      }
      .swimming-select {
        width: 70px;
      }
      .useRateDiv {
        padding-top: 400px;
      }
    }
  }
  .DetailValue {
    height: 50px;
    border-bottom: 1px solid #d9d9d9;
    .TimeValue {
      height: 100%;
      text-align: center;
      padding-top: 10px;
    }
  }
  .Detail-Bottom {
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
    text-align: right;
    .historyBtn {
      margin-right: 20px;
    }

  }
}

.order-technician {
  .technicianRow {
    text-align: center;
    margin-top: 30px;
    .describe {
      margin: 10px 0;
    }

  }
  .choose_time {
    text-align: center;
    margin-bottom: 20px;
  }
}
