.order-swimming{
  .date-title{
    text-align : center;
    height: 100px;
  }
  .ItemLeft{
    text-align : center;
    .swimming-icon{
      width: 80px;
      height: 80px;
    }
    .swimming-select{
      width: 70px;
    }
  }
  .ItemRight{
    p{
      font-size: 18px;
    }
  }

}
