.customer-vis-cent{
  .left-time-btn {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
  }
  .left-time-div {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
  }
  .left-time-span {

  }
}
