.activity-cent{
  min-width:1030px;
  margin-left: 10px;
  .button-add{
    margin:10px 0 10px 85%;
  }
  .BackBtn{
    background:#b67233;
    font:14px "微软雅黑";
    color:#fff;
  }
  .SaveBtn{
    margin-top:10px;
    background:#f1e8df;
    font: 14px "#bb7c41";
    color:#bb7c41;
  }
  .ant-table-thead > tr > th {
    background-color: rgba(102, 102, 102, 1);
    font-weight: 500;
    transition: background .3s ease;
    text-align: center;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
	.ant-table-tbody > tr > td {
	    text-align:center;
	    background-color: #fff;
		font-family: '微软雅黑 Regular', '微软雅黑';
	    font-weight: 400;
	    font-size: 14px;
		div{
			width:100%;
			color:#ca9b71;
			.firstA{
				display: inline-block;
				color:#ca9b71;
				text-decoration: none;
				margin:0 30px;
				float:left;
			}
			.firstA:hover{
				color:#0066ff;
			}
			.firstB{
				color: #ca9b71;
				float:left;
				text-decoration: none;
			}
			.firstB:hover{
				color:#ff0000;
			}
		}
	}
  .add-activity{
    .ant-card{
      margin-top:10px;
    }
    .BackBtn{
      margin-top:10px;
    }
  }
}
