.customer-vis-cent{
  padding: 10px 20px;
  .button-wrapper{
    padding:0 24px;
  }
  .ant-col-6{
    text-align: end;
  }
  .button-add{
    margin-left: 20px;
    width: 150px;
    background: #b67233;
    border:none;
    color: #fff;
  }
  .left-time-btn {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
  }
  .left-time-div {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
  }
  .left-time-span {

  }
  .customer-vis-cent-add{
    .ant-calendar-picker{
      display: block;
    }
  }
  .SaveBtn{
    background: #f1e8df;
    border-color: #dbb999;
    color: #b67233;
  }

}
