.permission-cent{
	.name{
		margin:10px 0px 10px 10px;
		font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color:#333;
  }

  .add{
    display:inline-block;
    color: #FFFFFF;
    width: 140px;
    height: 40px;
    margin-left: 35px;
    text-align: center;
    line-height: 40px;
    background: inherit;
    background-color: rgb(16, 131, 230);
    border: none;
    border-radius: 5px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  .find{
    display:inline-block;
    color: #FFFFFF;
    width: 140px;
    height: 40px;
    margin-left: 80px;
    text-align: center;
    line-height: 40px;
    background: inherit;
    background-color: rgb(16, 131, 230);
    border: none;
    border-radius: 5px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
	.ant-input{
		width:220px;
		height:40px;
		margin-left:40px;
	}
	.ant-table-thead > tr > th {
    background-color: rgba(102, 102, 102, 1);
    font-weight: 500;
    transition: background .3s ease;
    text-align: center;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
	.ant-table-tbody > tr > td {
	    text-align:center;
	    background-color: #fff;
		  font-family: '微软雅黑 Regular', '微软雅黑';
	    font-weight: 400;
	    font-size: 14px;
		div{
			width:100%;
      .firstA{
        display: inline-block;
        color: #0066FF;
        width:25%;
      }
      .firstB{
        display: inline-block;
        color: #FF0000;
        width:25%;
      }
      .firstC{
        display: inline-block;
        color: #FF0000;
      }

		}
	}

  .span_border {
    border-width: 5px;
  }

	.allList{
		width:400px;
		font-family: '微软雅黑 Regular', '微软雅黑';
	    font-weight: 400;
	    font-style: normal;
	    font-size: 14px;
	    color: #999999;
	    text-align: left;
	    display:inline-block;
	    margin-top:-40px;
	    margin-left:10px;
	    float:left;
	}

}

.addrole-vertical-center-modal {
  //text-align: center;
  //white-space: nowrap;
  //
  //ant-modal {
  //  display: inline-block;
  //  vertical-align: middle;
  //  top: 0;
  //}
  //
  //.ant-modal-content {
  //  border-radius: 4px;
  //  overflow: hidden;
  //  .ant-modal-header {
  //    background-color: #a8a8a8;
  //    .ant-modal-title{
  //      text-align: center;
  //      font-size: 17px;
  //    }
  //
  //  }
  //  .ant-modal-footer {
  //    padding: 0 0;
  //    text-align: center;
  //    .ant-btn-lg {
  //      height: 50px;
  //      border-radius: 0;
  //    }
  //    .ant-btn {
  //      width: 50%;
  //    }
  //
  //    .ant-btn-primary {
  //      color: rgba(0, 0, 0, 0.65);
  //      background-color: #fff;
  //      border-color: rgb(233, 233, 233);
  //    }
  //    button + button {
  //      margin-left: 0;
  //    }
  //  }
  //}



}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: center;
  }
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}






