.activity-cent{
  width:98%;
  margin:0 1%;
  .activityTop{
    .findBtn{
      width:130px;
      float: left;
      font: 14px "微软雅黑";
    }
    .resetBtn{
      width:130px;
      float: left;
      margin-left: 10px;
      font: 14px "微软雅黑";
    }
    button{
      font: 14px "微软雅黑";
    }
  }
  .activityTitle{
    label{
      font: 12px "微软雅黑";
    }
    .ant-form-item-control {
      width: 110px;
    }
    .TireNum{
      .ant-form-item-control {
        width: 100px;
      }
    }
  }
  .card-title {
    h3{
      font-size: 14px;
      display: inline-block;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }
   .ant-card{
     margin-top: 10px;
   }

  .ant-table-thead > tr > th {
    background-color: rgba(102, 102, 102, 1);
    font-weight: 500;
    transition: background .3s ease;
    text-align: center;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
  }
  .ant-table-tbody > tr > td {
    text-align:center;
    background-color: #fff;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-size: 14px;
  }
}
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: center;
    .ant-modal-body {
      text-align: left;
    }
  }
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
