.activity-cent{
  min-width: 1000px;

  .activityTitle{
    width: 960px;
    label{
      font: 12px "微软雅黑";
    }
    .ageItem{
      width: 100px;
      float: left;
      .ant-form-item-label{
        width: 45px;
      }
      .ant-form-item-control-wrapper{
        width: 55px;
        .ant-input-number-lg{
          width:55px;
        }
      }
    }
    .ageItem2{
      width: 55px;
      float: left;
      margin-left: 5px;
    }
    .PreData{
      width:180px;
      float: left;
      .ant-form-item-label{
        width: 60px;
      }
      .ant-form-item-control-wrapper{
        width: 114px;
      }
    }
    .TireNum{
      width:180px;
      float: left;
      .ant-form-item-label{
        width: 60px;
      }
      .ant-form-item-control-wrapper{
        width: 114px;
      }
    }
    .idCard{
      width:180px;
      float: left;
      .ant-form-item-label{
        width: 80px;
      }
      .ant-form-item-control-wrapper{
        width: 100px;
      }
    }
    .Operator{
      width:180px;
      float: left;
      .ant-form-item-label{
        width: 80px;
      }
      .ant-form-item-control-wrapper{
        width: 100px;
      }
    }
  }
  .card-title {
    h3{
      font-size: 14px;
      display: inline-block;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }


  .ant-table-thead > tr > th {
    background-color: rgba(102, 102, 102, 1);
    font-weight: 500;
    transition: background .3s ease;
    text-align: center;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
  }
  .ant-table-tbody > tr > td {
    text-align:center;
    background-color: #fff;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-size: 14px;
  }
}

.appointMentModal{
  .ant-modal-body{
    .ant-form-item-label{
      width:100px;
    }
    label{
      font: 14px "微软雅黑";
    }
    label:before{
      content: '';
      display: none;
    }
    //.ant-form-item-control-wrapper{
    //  width:200px;
    //}
    .ant-card{
      margin-top: 10px;
      width:960px;
    }
  }

}
