
.CheckBeforeInput{
  .antCli {
    width: 100%;
    height: 40px;
  }

  .bottomButton{
    margin-bottom: 15px;
    margin-right: 10px;
  }
  .ant-input-disabled{
    color:#333333;
  }
  .ant-radio-disabled + span{
    color:#333333;
  }
  .ant-select-disabled{
    color:#333333;
  }
  .ant-input-number-input[disabled]{
    color:#333333;
  }
}

.detailDiv{
  .detailTitle{
    font:13px "微软雅黑";
    line-height:40px;
    height: 40px;
  }
  .bottomButton{
    margin-bottom: 15px;
    margin-right: 10px;
  }
}
.bigDetailDiv{
  .ant-card-extra{
    top:9px
  }
  .ant-card-head-title{
    font-size:13px
  }
  .bottomButton{
    margin-bottom: 15px;
    margin-right: 10px;
  }
  .detailTitle{
    font:13px "微软雅黑";
    line-height:40px;
    height: 40px;
  }
  .ant-table-wrapper{
    margin: 0 10px;
  }
  .ant-table-thead > tr > th {
    background-color: rgba(102, 102, 102, 1);
    transition: background .3s ease;
    text-align: center;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 5px;
  }
  .CustomerTable{
    margin-top: 10px;
  }
}
.checkRoomDetailCard{
  .checkRoomDetailTimeSpan{
    margin: 30px 15px  0;
  }
  .checkRoomDetailTime{
    margin: 30px 20px ;
  }
  .checkRoomDetail{
    padding: 40px 15px 15px;
    border-top: 2px solid #ccc;
    .buttonBox{
      width: 100%;
      height: 50px;
    }
    .checkRoomDetailRow{
      margin-bottom: 40px;
    }
  }
}
.edinburghCard{
  .tooltipTxt{
    margin-bottom: 15px;
    h2,p{
      line-height:30px;
      text-align: center;
    }
    p{
      font-size: 14px;
    }
    .redTxt{
      color:red
    }
  }

  .rowBox{
    .ant-col-6{
      margin-bottom: 15px;
      .number{
        margin: 0 15px 15px 0;
      }
    }
  }

  .formBox{
    .ant-form-item-control-wrapper{
      .ant-input-number{
        width: 100%;
      }
    }
  }
}
.summary {
  .rightBth{
    margin-left: 10px;
  }
  >.ant-card-head{
    padding: 0 15px;
  }
  >.ant-card-extra{
    right:15px
  }
}
.detailTitle{
  font-size:12px ;
  line-height:32px;
  height: 32px;
}
.ant-card-wider-padding .ant-card-extra{
  right: 0;
}


.noticeCard{
  .ant-card-body{
    a{
      margin-right: 50px;
    }
  }

}
