.card{
padding: 20px;
  background: #FFFFFF;
}
.cardTable{

}
.cardFind{
  input{
    height: 40px;
  }
  label{
    font-size: 14px;
    color: #000000;
  }
}
.ant-table-bordered .ant-table-thead > tr > th{
  background: #666666;
  text-align: center;
}
.ant-table-bordered .ant-table-tbody > tr > td{
  text-align: center;
}
