.prepareMeals {
  padding: 10px;
  .Row {
    background: #fff;
    border: 1px solid #dddddd;
    .colLeft {
      padding: 30px;
      .ant-radio-group {
        .timeInfo {
          .weekName {
            display: inline-block;
            width: 60px;
            color: #b67233;
            text-align: center;
          }
          .borderCol {
            margin-right: 1px;
            margin-bottom: 1px;
          }
        }
        .ant-radio-button-wrapper {
          transition: inherit;
          width: 60px;
          text-align: center;
          line-height: 60px;
          height: 60px;
          border: 1px solid #fff;
        }
        .ant-radio-button-wrapper:last-child {
          border-radius: inherit;
        }
        .ant-radio-button-wrapper-checked {
          color: #b67233;
          border: 1px solid #b67233 !important;
          box-shadow: none !important;
        }
        .ant-radio-button-wrapper-checked:hover {
          color: #b67233;
          border: 1px solid #b67233 !important;
        }
      }
    }
    .colRight {
      border-left: 1px solid #dddddd;

      padding: 30px;
      .menuInfo {
        margin-bottom: 20px;
        p {
          color: #b67233;
          margin-bottom: 10px;
        }
        ul {
          width: 100%;
          padding-left: 40px;
          li {
            display: inline-block;
            width: 30%;
            margin-left: 3%;
            border: 1px solid #dddddd;
            line-height: 30px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
          }
          li:last-child {
            border: 1px solid #b67233;
            .lastBtn {
              width: 100%;
              border: none;
              color: #b67233;
            }

          }
        }
      }
    }
  }

}

.lowModel {
  .iconDel{
    color: red;
    font-size: 18px;
  }
  .btnDelIcon{
    background: red;
    color: #fff;
  }
  h3 {
    width: 100%;
    line-height: 30px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    background: #666666;
    padding-left: 10px;

  }
  .standardFood {
    margin-bottom: 30px;
  }
  .foodCol {
    height: 60px;
    .ant-form-explain {
      padding-left: 25%;
    }
  }
  .btnCenter {
    text-align: center;
    .addBtn {
      width: 100px;
      background: #ff0000;
      border-color: #ff0000;
      color: #fff;
    }
    .saveBtn {
      width: 100px;
      background: #b67233;
      border-color: #b67233;
      color: #fff;
    }
    .cancelBtn {
      width: 100px;
      background: #f1e8df;
      border-color: #d4ad89;
      color: #b67233;
    }
  }

}

.chooseDishesModel {
  .ant-input-affix-wrapper{
    width: 50%;
  }
  .dishesTab {
    margin-top: 20px;
    .ant-table-thead {
      tr {
        th {
          background: #666666;
          text-align: center;
          span {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
    .ant-table-tbody {
      .ant-table-row {
        td {
          text-align: center;
          a {
            font-size: 14px;
            color: #b67231;
            &:hover {
              color: #108ee9;
            }
          }

        }
      }
    }
  }
}
