.editPositionModal{
    .ant-modal-content{
      .ant-form-item{margin-bottom:0px;}
      .ant-form-item-control{
        font-size: 15px;
        margin-top: 10px;
        h4{
          color: rgba(0, 0, 0, 0.65);
          width:100px;
          float:left;
          height:30px;
          margin-left:20px;
          text-align:center;
          line-height: 30px;
          border:1px solid #d9d9d9;
        }
        .ant-input{
          font-size: 15px;
          width:200px;
          float:left;
          margin-left:5px;
          height:30px;
        }
        .ant-btn-lg {
          padding: 0 15px;
          font-size: 12px;
          border-radius: 4px;
          height: 30px;
          margin-left: 5px;
          width: 100px;
        }
      }
      .ant-modal-close{
        width: 50px;
      }
    }

  .detail-table-cell{
    font-size: 15px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    height: 42px;
    .col-left{
      text-align: center;
      //border-radius: 2px;
      margin-top: 10px;
      //border:1px solid #999999;

    }
    .col-right{
      margin-top: 10px;
      margin-left: 10px;
      //width: 100%;
      //display: inline-block;
      //border-radius: 2px;
      //padding: 6px 0px;
      //border:1px solid #999999;
      //span {
      //  margin-left: 20px;
      //}
    }
    //.col-last{
    //  margin-left: 20px;
    //  width: 80%;
    //  height: 30px;
    //}
  }
}
