.website-banner{
  .btnAdd{
    height: 30px;
    padding: 0 26px;
    line-height: 30px;

    font-size: 14px;
    color: #fff;
    background-color:#b67233;
    border-color: #b67233;
    &:hover,&:visited,&:focus,&:active {
      color: #fff;
      background-color:#f89d2d;
      border-color: #f89d2d;
    }

    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f7f7f7;
      border-color: inherit;
      height: 30px;
      padding: 0 26px;
      line-height: 30px;
      font-size: 14px;
    }
  }
  .management-center{
    width:100%;
    .ant-table-thead > tr > th {
      background-color: rgba(102, 102, 102, 1);
      font-weight: 500;
      transition: background .3s ease;
      text-align: center;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #FFFFFF;
    }
    .ant-table-tbody > tr > td {
      text-align:center;
      background-color: #fff;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-size: 14px;
    }

    .operation-list {
      width: 100%;
    }
  }
}
.expertIntroduction{
  .management-center{
    width:100%;
    .ant-table-thead > tr > th {
      background-color: rgba(102, 102, 102, 1);
      font-weight: 500;
      transition: background .3s ease;
      text-align: center;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #FFFFFF;
    }
    .ant-table-tbody > tr > td {
      text-align:center;
      background-color: #fff;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-size: 14px;
    }

    .operation-list {
      width: 100%;
    }
  }
  .btnAdd{
    height: 30px;
    padding: 0 26px;
    line-height: 30px;

    font-size: 14px;
    color: #fff;
    background-color:#b67233;
    border-color: #b67233;
    &:hover,&:visited,&:focus,&:active {
      color: #fff;
      background-color:#f89d2d;
      border-color: #f89d2d;
    }

    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f7f7f7;
      border-color: inherit;
      height: 30px;
      padding: 0 26px;
      line-height: 30px;
      font-size: 14px;
    }
  }
}
.websitebannerAdd{
  .bottomBtn{
    width:100%;
    .btn{
      float: right;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}
.addExpert{
  .edit>.ant-row>.ant-col-3{
    width:55px;
  }
  .bottomBtn{
    width:100%;
    .btn{
      float: right;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 10px;
    }
    .saveBtn{
      background-color: #ff9900;
      border-color: #ff9900;
    }
    .backBtn{
      background-color: #b67233;
      border-color: #b67233;
    }
  }
}
.websiteBabyService{
  .btnAdd{
    height: 30px;
    padding: 0 26px;
    line-height: 30px;

    font-size: 14px;
    color: #fff;
    background-color:#b67233;
    border-color: #b67233;
    &:hover,&:visited,&:focus,&:active {
      color: #fff;
      background-color:#f89d2d;
      border-color: #f89d2d;
    }

    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f7f7f7;
      border-color: inherit;
      height: 30px;
      padding: 0 26px;
      line-height: 30px;
      font-size: 14px;
    }
  }
  .management-center{
    width:100%;
    .ant-table-thead > tr > th {
      background-color: rgba(102, 102, 102, 1);
      font-weight: 500;
      transition: background .3s ease;
      text-align: center;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #FFFFFF;
    }
    .ant-table-tbody > tr > td {
      text-align:center;
      background-color: #fff;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-size: 14px;
    }

    .operation-list {
      width: 100%;
    }
  }
}
.WebsiteAddBabyCare{
  background: #FFFFFF;
  .TabooButtons{
    width:98%;
    overflow: hidden;
    text-align: right;
  }
  .delDisplan {
    .ant-calendar-picker {
      display: block;
    }
  }

}
