.workPlanIndex {
  .addBtn {
    margin-bottom: 10px;
    border-color: #b67233;
    color: #b67233;
    width: 200px;
  }
  .calendar {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
    .ant-fullcalendar-selected-day .ant-fullcalendar-value, .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value {
      color: rgba(0, 0, 0, 0.65);
      box-shadow: 0 0 0 1px #fff !important;
    }
    .ant-fullcalendar-today .ant-fullcalendar-value, .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-value{
      box-shadow: 0 0 0 1px #fff !important;
    }
  }
  .planInfo {
    background: #fff;
    padding: 10px 20px 20px;
    h4 {
      color: #916136;
      padding-left: 8px;
      margin-bottom: 10px;

    }
  }
}

.event-error {
  color: #f50;
}

.workPlanAdd {
  padding: 20px;
  .saveInfoBtn {
    width: 150px;
    height: 30px;
    background: #f7f1ea;
    color: #b67233;
    border-color: #b67233;
  }
  .backLink {
    width: 150px;
    height: 30px;
    background: #b67233;
    color: #fff;
    border: none;
  }
}

