/*table 上方功能栏*/
#root{
  font-family: "微软雅黑",Regular;
}
.yt-admin-table-action {
    padding: 12px 6px;
    background: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 8px;
}

.yt-admin-table-action > .ant-row {
    position: relative;
}

.yt-admin-table-action .ant-form-item {
    margin-bottom: 12px;
}

.yt-admin-table-action .ant-btn + .ant-btn {
    margin-left: 8px;
}

/*modal中 form item最后一项*/
.ant-modal .ant-form .ant-form-item:last-child {
    margin-bottom: 0;
}

.highlight {
    background-color: #ecf6fd;
}

.ant-select-dropdown-menu-item {
    white-space: normal !important;
}

a[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: center;
    .ant-modal-body {
      text-align: left;
    }
  }
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

