/*table 上方功能栏*/
#root{
  font-family: "微软雅黑",Regular;
}
.yt-admin-table-action {
    padding: 12px 6px;
    background: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 8px;
}

.yt-admin-table-action > .ant-row {
    position: relative;
}

.yt-admin-table-action .ant-form-item {
    margin-bottom: 12px;
}

.yt-admin-table-action .ant-btn + .ant-btn {
    margin-left: 8px;
}

/*modal中 form item最后一项*/
.ant-modal .ant-form .ant-form-item:last-child {
    margin-bottom: 0;
}

.highlight {
    background-color: #ecf6fd;
}

.ant-select-dropdown-menu-item {
    white-space: normal !important;
}

a[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
}
button{
  height:30px;
  width:150px;
}
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: center;
    .ant-modal-body {
      text-align: left;
    }
  }
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.ant-modal-footer {
  .ant-btn{
    width: 100px;
    background: #b67233;
    border-color:#b67233;
    color:#fff;
  }
  .ant-btn-primary{
    background: #f1e8df;
    border-color:#d4ad89;
    color:#b67233;
  }
}

.ant-message-notice-content{
  padding:6px 15px;
  font-size:14px;
}

.ant-input[disabled] {
  color: rgba(0, 0, 0, 0.68);
}

.yt-admin-framework-content {
  padding: 5px 18px 0 0;
  margin-bottom:100px;
}

.yt-admin-framework {
  background-color: #f7f6f2;
}
