.myBtn {
  float: right;
  margin-right: 10px;
  font:14px "微软雅黑";
}
.dishes-info-div{
  background-color:#fff;
  margin: 10px;
  border: 1px solid #ccc;
  padding-left: 5px;
}
.ingredients-info-div{
  padding-bottom: 10px;
}
