.LogView{
	height:auto;
	min-width: 1030px;
	margin:10px;
	.LogView-nav{
		padding: 10px;
		height:100%;
		font-size: 14px;
		background: #fff;
		font-family: '微软雅黑 Regular', '微软雅黑';
		.firstInput{
			margin-left:40px;
			float:left;
			input{
				width:600px;
				height:40px;
				margin-left:20px;
				margin-right:10px;
			}
		}
		.twoInput{
			float:left;
			margin-left: 20px;
			input{
				width:200px;
				height:40px;

				margin-left:10px;

			}
		}
		.threeInput{
			display:inline-block;
			margin-top:10px;
			margin-left:40px;
			div{
				width: 210px;
	   			height: 40px;
	   			line-height:40px;
	   			.ant-select-arrow {
				    font-size: 36px;
				    margin-top:-16px;
				}
			}
			.LogViewType{
				margin-left:20px;
			}
		}
		.fourInput{
			display:inline-block;
			margin-top:10px;
			margin-left:16px;
			input{
				width:220px;
				height:40px;
			}
			.ant-calendar-picker {
				margin-right:60px;
				margin-left:20px;
			}
			.ant-calendar-picker-clear{
				font-size:26px;
				right:-25px;
			}
			.ant-calendar-picker-icon {
				font-size:16px;
				right:-42px;
			}
			.ant-calendar-picker-icon:after {
				font-size:26px;
				margin-top:-6px;
			}
		}
		button{
		    height:40px;
		    width:120px;
		    margin-left:20px;
		    background-color: #f99d2e;
	        border:none;
	        border-radius: 4px;
	        color:#fff;
		}
	}
	.LogViewList{
		width:100%;
		height:300px;
		margin-top:50px;
		.ant-table-thead > tr > th {
		    background-color: rgba(105, 105, 105, 1);
		    font-weight: 500;
		    transition: background .3s ease;
		    text-align: center;
		    color: rgba(0, 0, 0, 0.85);
	        font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    color: #FFF;
		}
		.ant-table-tbody > tr > td {
		    text-align:center;
		    background-color: #f8f6f2;
			font-family: '微软雅黑 Regular', '微软雅黑';
			font-weight: 400;
			font-style: normal;
			font-size: 14px;
			span{
				width:100%;
				a{
					margin-right:9px;
					margin-left:13px;
					color:rgba(0, 0, 0, 0.85);
				}
			}
		}
		.ant-table .table {
			text-align:center;
		}
	}
}
