.management-cent {
    background-color: #f8f6f2;
    .management-center{
      width:100%;
      .ant-table-thead > tr > th {
        background-color: rgba(102, 102, 102, 1);
        font-weight: 500;
        transition: background .3s ease;
        text-align: center;
        font-family: '微软雅黑 Regular', '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #FFFFFF;
      }
      .ant-table-tbody > tr > td {
        text-align:center;
        background-color: #fff;
        font-family: '微软雅黑 Regular', '微软雅黑';
        font-weight: 400;
        font-size: 14px;
      }

      .operation-list {
        width: 100%;
      }
    }

  .top-button {
    overflow: hidden;
  }

  .delete-btn {
    position: absolute;
    top: 0px;
    right: 5%;
  }


  .editable-add-btn {
    width: 12%;
    margin-left: 44%;
  }

  .button-group-bottom {
    margin-top: 10px;
    overflow: hidden;
  }


}
