.m-center{
	width:100%;
	height:auto;
	min-height:500px;
	.m-center-left{
		background-color: #eeeeee;
		width:240px;
		min-height:500px; 
		float:left;
		overflow: hidden;
	}
	.m-center-right{
		background-color: rgba(242, 242, 242, 1);
		width:1100px;
		height:500px;
		float:left;
		overflow: hidden;
	}
}
