.PlaceProject {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #f8f6f2;
    background-size: cover;
    font-family: "微软雅黑";
    .ant-table-thead > tr > th {
        background-color: dimgray;
        transition: background .3s ease;
        font:100 16px "微软雅黑";
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
    }
    .ant-table-tbody > tr > td {
        transition: background .3s ease;
        text-align: center;
        font:100 14px "微软雅黑";
        color: rgba(0, 0, 0, 0.7);
        background:#fff;
        a{
          color: #b87636;
          font:14px "微软雅黑";
        }
        a:hover{
          color:#0066ff;
        }
    }
    img {
        margin-left: 25%;
        margin-bottom: 50px;
    }

    .label {
      float: left;
      height: 16px;
      margin-left: 45px;
      margin-top:10px;
      width: 6%;
      font:14px "微软雅黑";
      text-align: center;
    }

    .input {
        float: left;
        width: 90%;
        height: 40px;
        text-align: left;
        font-size: 13px;
    }

    .div .posi {
        position: relative;
        overflow: hidden;
    }

    .input2 {
      float: left;
      width: 84%;
      height: 40px;
      font:14px "微软雅黑";
      line-height:40px;
    }
    .input3{
      float: left;
        width: 77.8%;
        height: 40px;
        margin-bottom: 10px;
    }

    .div {
        overflow: hidden;
        margin-bottom: 10px;
        clear: both;
    }

    .buttonwrapper {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }

    .addBtn {
      background-color: #108ee9;
      width: 140px;
      height: 100%;
      color: #fff;
      float: right;
      span{
        height:40px;
        width:100%;
        font:14px "微软雅黑";
        line-height:40px;
        text-align:center;
      }
    }

    .addBtn:hover {
        background-color: #f89d2d;
        border: none;
        color: #fff;
    }

    .add {
      margin-left: 90px;
      height:40px;
      span{
        height:100%;
        display:block;
        width:100%;
        font:14px "微软雅黑";
        text-align:center;
        line-height: 40px;
      }
    }

    .button {
        background-color: rgba(22, 155, 213, 1)
    }

    .div2 {
        overflow: hidden;
        margin-bottom: 10px;
        clear: both;
    }
    .parentCen{
      margin-left:50px;
    }
    input:disabled {
      height:40px;
      background-color: #fff;
      color:#666;
      font:14px "微软雅黑";
      line-height:40px;
    }
    label{
      font:14px "微软雅黑";
      height:40px;
      line-height:40px;
    }
    label:before{
      content: '';
      display: none;
    }
    .ant-btn {
        height: 40px;
    }

    .editable-add-btn {
      background-color:#108ee9;
      color: #fff;
      width: 140px;
      span{
        display:block;
        height:40px;
        font:14px "微软雅黑";
        line-height:40px;
        text-align:center;
      }

    }

    .editable-add-btn:hover {
        background-color: #f89d2d;
        border: none;
        color: #fff;
    }

    .retuSave {
        width: 300px;
        float: right;
        padding-top: 10px;
    }

    .xuanxiang {
        overflow: hidden;
    }
    .childCen{
      width: 86%;
      float:left;
      margin-left:20px;
      font:14px "微软雅黑";
    }
    .delBtn{
      display:block;
      height:26px;
      width: 40px;
      text-align: center;
      line-height:26px;
      border-radius:4px;
      background: red;
      position:absolute;
      right:10%;
      top:15%;
    }

    .return {
        background-color: #fff;
        border: none;
        color: #000;
        margin-right: 10px;
    }

    .return:hover {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.85);
    }

    .xuanxiang .ant-card {
        min-width: 860px;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }

    .ant-card .ant-card-head {
        border: none
    }

    .ant-card .ant-card-body {
        overflow: hidden;
    }

    .xuanxiang {
        min-width: 860px;
    }

    element.style {
        height: 40px;
    }

    .xuanxiang {
        .ant-btn {
            height: 40px;
            width: 140px;
        }
    .ant-input[disabled] {

        background-color: rgba(102, 102, 102, 1);
        opacity: 1;
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.65)
    }


    .div2 .delBtn {

        background-color: #f75555;
        color: #fff;
        width: 80px;
        position: absolute;
        right: 5%;
        bottom: 0;
        margin-left: 30px;
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
    }
    #editSave{
      width:300px;
      float:right;
      position:relative;
    }
    .save{
      background-color:#b67233;
          color: #fff;
          width: 140px;
          position:absolute;
          top:0;
          right:10px;

    }
    .retBtn {
      background-color: #b67233;
              color: #fff;
              width: 140px;
    }
    .editable-add-btn {
        background-color: #b67233;
        color: #fff;
        width: 140px
    }
    .editable-add-btn:hover {
        background-color: #f89d2d;
        border: none;
        color: #fff;
    }
  }
}
