.MenuInside{
  margin: 10px;
  overflow: hidden;
  min-width: 860px;
    .menuHeard{
      width: 100%;
      height:auto;
      margin-top:20px;
      background:#fff;
      border-radius:5px;
      overflow:hidden;
    .ant-advanced-search-form .ant-form-item {
          margin-bottom: 16px;
          width: 220px;
          float: left;
          margin-left:10px;
          margin-top:10px;
          .ant-form-item-label{
            width:60px;
            float:left;
            label{
              font:14px "微软雅黑";
            }
          }
          .ant-form-item-control-wrapper{
            width:150px;
            float:right;
            .ant-input{
              height:32px;
            }
          }

      }
      .btn{
        width: 24%;
        float:left;
        margin:10px 0 0 10px;
        .ClearBtn{
          background:#ff4a4a;
          color:#fff;
        }
        .AddBtn{
          background:#169bd5;
          color:#fff;
        }
        .ant-btn{
          margin-left:10px;
          height:32px;
        }
      }
    }
  .CreateModaList{
    width:100%;
    height: auto;
    margin-top:10px;
    .ant-table-thead > tr > th {
      background-color: rgba(102, 102, 102, 1);
      font-weight: 500;
      transition: background .3s ease;
      text-align: center;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #FFFFFF;
    }
    .ant-table-tbody > tr > td {
      text-align:center;
      background-color: #fff;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-size: 14px;
      div{
        width:100%;
        .firstA{
          display: inline-block;
          color: #b67231;
          text-decoration: none;
          margin:0 10px;
          font:14px "微软雅黑";
          float:left;
        }
        .firstB{
          color: #b67231;
          float:left;
          text-decoration: none;
          font:14px "微软雅黑";
        }
      }
    }
    .ant-modal-body {
      height:230px;
      font-size: 14px;
      line-height: 2.5;
      margin-top:-10px;
    }
    .allList{
      width:400px;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #999999;
      text-align: left;
      display:inline-block;
      margin-top:-40px;
      margin-left:10px;
      float:left;
    }
  }
}
