.customerContent {
  background-color:#f7f6f2;
  h3{
    height:30px;
    font:16px "微软雅黑";
    line-height: 30px;
    margin-bottom: 8px;
    color: rgba(0,0,0,0.8);
    border-bottom: solid 1px #eee
  }
  .contentDiv{
    overflow-x: scroll;
    background-color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    border:1px solid #e9e9e9;
    label{
      font:12px "微软雅黑";
    }
    label:before{
      content: "";
      display: none;
    }
    p{
      line-height: 50px;
    }
    &.detail {
      & > .ant-row {
        padding-left: 20px;
        width: 1280px;
      }
      .ant-col-6 {
        height:40px;
      }
    }
    .antCli{
      width: 100%;
    }
    .leftTitle{
      text-align: left;
    }
    .rowHeight{
      height: 50px;
    }
    .baseInfo11{
      .ant-form-item-label{
        width: 32%;
      }
      .ant-form-item-control-wrapper{
        width: 68%;
      }
    }
    .expandInfo5{
      .ant-form-item-label{
        width: 32%;
      }
      .ant-form-item-control-wrapper{
        width: 68%;
      }
    }
    .expandInfo8{
      .ant-form-item-label{
        width: 35%;
      }
      .ant-form-item-control-wrapper{
        width: 65%;
      }
    }
    .expandInfo11{
      .ant-form-item-label{
        width: 32%;
      }
      .ant-form-item-control-wrapper{
        width: 68%;
      }
      button{
        background: #f1e8df;
        color: #b67233;
        border-color:#b67233 ;
      }
    }
    .expandInfo12{
      button{
        background: #f1e8df;
        color:#b67233;
        border-color: #b67233;
      }
    }
    .lineP12,.lineP11{
        button{
          background:#f1e8df;
          border-color:#bb7c41;
          color:#b67233;
        }
    }
  }
  .customRemark{
    .ant-table-thead > tr > th {
        background-color: dimgray;
        font-weight: 500;
        transition: background .3s ease;
        text-align: center;
        font:14px "微软雅黑";
        color: rgba(255, 255, 255, 0.85);
    }
    .ant-table-tbody > tr > td {
        text-align:center;
        background-color: #fff;
    	font-family: '微软雅黑 Regular', '微软雅黑';
    	font-weight: 400;
    	font-style: normal;
    	font-size: 14px;
  }
}
  .headImageTitle{
    text-align: right;
  }
    .avatar {
      width: 100%;
      height: 100%;
    }
    .avatar-uploader {
      display: block;
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      width: 150px;
      height: 200px;
    }
    .avatar-uploader-trigger {
      width: 100%;
      margin-top: 86px;
      display: block;
      font-size: 28px;
      color: #999;
    }

  .addRemark{
    text-align: right;
    font:14px "微软雅黑";
    button{
      font:14px "微软雅黑";
      background:#b67233;
      border-color: #b67233;
    }
  }

  .saveDiv{
    text-align: right;
    margin-top:10px;
    height: 60px;
    .backBtn{
      float: right;
      width: 150px;
      height: 30px;
      margin-top:10px;
      margin-right: 10px;
      font: 14px "微软雅黑";
      background: #b67233;
      color: #fff;
    }
    .SaveBtn{
      float: right;
      background:#f1e8df;
      border-color:#dbb999 ;
      color:#b67233;
    }
    .delBtn{
      float: right;
      background: #f75555;
      color:#fff;
      margin-right: 10px;
    }
  }
}
.tabsContent{
  background-color: white;
}


.bigImageModal{
  .bigDiv{
    width: 500px ;
    height: 500px ;
    overflow: hidden;
  }
  .bigImage{

  }
}
.ant-tabs-bar {
  margin-bottom: 0px;
}
//.yt-admin-framework-content {
//  padding: 5px 18px 50px 12px;
//  background-color: #f7f6f2;
//}
.ant-confirm-body{
  .ant-confirm-content{
    text-align:center;
  }
}
