
.user-health-cent {


  .user-content-div{
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    border:1px solid #999999;
    .antCli{
      width: 100%;
    }
  }

  .left-title-div{
    text-align: right;
    border:1px solid #999999;
    height: 40px;
    line-height: 40px;
    .span {

      font-family: '微软雅黑 Regular', '微软雅黑';
      font-style: normal;
      font-size: 17px;
    }
  }

  .right-div{
    border:1px solid #999999;
    border-left: 0;
    height: 40px;
    line-height: 40px;
  }
  .user-nutrition-table{
    border:1px solid #999999;
  }

  .user-row{
    height: 40px;
  }

  .user-nutrition{
    background-color: white;
  }


  .tabsContent{
    background-color: #f7f6f2;
  }

}
