.phone-system-cent {
  position: fixed;
  z-index: 10;
  width:800px;
  height:700px;
  left:50%;
  top:50%;
  margin-left:-400px;
  margin-top:-350px;

  .system-button-option {
    float: right;
    margin-right: 5px;
  }

  .phone-system-phone-info {
    height: 40px;
  }

  .phone-system-board {
    margin-top: 5px;
    border:1px solid #e5e5e5;
    border-radius: 4px;
    .ant-table-thead {
      display: none;
    }
    .phone-system-board-title {
      height: 40px;
      line-height: 40px;
      font-family: '微软雅黑 Bold', '微软雅黑';
      font-size: 14px;
      border-bottom: 1px solid #e5e5e5;
      h4 {
        margin-left: 5px;
      }
    }
    .ant-table-wrapper {
      margin: 5px 5px 5px;
    }
    .ant-btn {
      float: right;
      right: 0;
      bottom: 0;
    }


  }

  .phone-system-action-button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    line-height: 60px;

    .system-button2{
      margin-right: 5px;
      width:57px;
      height:33px;
    }
    .system-button3{
      margin-right: 5px;
      width:80px;
      height:33px;
    }

    .phone-button-input{
      display: inline-block;
      .ant-select-selection--single {
        height:33px;
      }
      .ant-select-selection__rendered{
        line-height: 29px;
      }
    }
  }

  .phone-button-user{

    font-family: 微软雅黑;
    font-size: 13px;
    margin: 10px 10px 10px 10px;

    .phone-button-user-title{
      height: 33px;
      text-align: right;
      line-height: 33px;
    }

    .phone-button-user-content{
      height: 33px;
      line-height: 33px;
    }

  }

}

.phone-system-min-cent {
  position: fixed;
  z-index: 10;
  width:200px;
  height:100px;
  left: 5px;
  bottom: 45px;
  .ant-card-body {
    padding: 0;
  }

  .system-button-option {
    float: right;
    margin-right: 5px;
  }
}


.system-button-option-show {
  position: fixed;
  z-index: 10;
  left: 5px;
  bottom: 45px;
}
