.healthContentDiv {
  .firstItem {
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #ccc;
  }
  label{
    font-family: "微软雅黑";
  }
  label:before{
    content: '';
    display: none;
  }
  .itemTitle {
    width: 20px;
    height: 100%;
    text-align: center;
    font-size: larger;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
  }

  .topItembg {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 55px;
    overflow: hidden;
  }

  .onlyLeftItemBg {
    border-left: 1px solid #ccc;
    min-height: 55px;
    overflow: hidden;
  }

  .topRightItemBg {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 55px;
    overflow: hidden;
  }

  .bottomItemBg {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 55px;
    overflow: hidden;
  }

  .rightItemBg {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 55px;
    overflow: hidden;
  }

  .leftRightItemBg {
    min-height: 55px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }

  .allNoneBg {
    min-height: 55px;
    overflow: hidden;
  }

  .bottomRightItemBg {
    border-left: 1px solid #ccc;
    min-height: 55px;
    overflow: hidden;
  }

  .ant-form-item-label {
    line-height: 55px;
  }

  .ant-form-item-control {
    line-height: 55px;
  }

  .ant-form-item {
    margin-bottom:0;
  }

  .ApgarOption{
    .ant-col-2{
      height:30px;
      margin-top:12px;
    }
    .Fraction{
      width:40px;
    }
  }

  .uploadOptions {
    margin-top: 13px;
    text-align: right;
    line-height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .uploadOptionsButton {
    background:#f1e8df;
    border-color:#bb7c41;
    color:#b67233;
    font:14px "微软雅黑";
    margin-top: 13px;
    height: 30px;
    width: 120px;
  }

  .score-line {
    margin-top: 13px;
    text-align: center;
    line-height: 30px;
    color: #ddd;
  }

  .bottomButton {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .commitButton {
    float: right;
    margin-right: 10px;
    font:14px "微软雅黑";
  }
  .BackBtn{
    background:#b67233;
    border-color:#b67233;
    color:#fff;
  }
  .SaveBtn{
    background:#f1e8df;
    border-color:#bb7c41;
    color:#b67233;
  }

}
