.healthContentDiv {
  .firstItem {
    background-color: #fff;
    margin: 10px;
    border: 1px solid #ccc;
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  label{
    font-family: "微软雅黑";
  }
  label:before{
    content: '';
    display: none;
  }
  .ItemLeft{
    border-right: 1px solid #ccc;
    .ant-form-item-label{
      border-right:1px solid #ccc;
    }
    .ant-form-item-control{
      margin-left: 10px;
    }
  }
  .ItemRight{
    .ant-form-item-label{
      border-right:1px solid #ccc;
    }
    .ant-form-item-control{
      margin-left: 10px;
    }
  }
}
