.skinHealthInformationDiv {
  min-width: 1020px;
  margin: 10px;
  margin-left: 0px;
  .formBox{
    margin-right: 10px;
    margin-bottom:10px;
    background: #fff;
    border:1px solid #ccc;
  }
  .tableForm{
    margin:10px;
    border:1px solid #ccc;
  }
  .firstItem {
    background-color: #fff;
    border-bottom:1px solid #ccc;
    .ant-form-item-label{
      border-right:1px solid #ccc;
    }
    .ant-radio-group{
      margin-left: 10px;
    }
    .ant-form-item-control{
      margin-left: 10px;
    }
  }
  .firstItemLeft{
    width: 50%;
    border-right:1px solid #ccc;
  }
  .ant-col-10{
    width: 50%;
  }
  .medicalHistory{
    .ant-col-10{
      width: 100%;
    }
    .ant-form-item-label{
      width: 12.5%;
    }
  }
  .skinInfo{
    width: 800px;
    .ant-form-item-label{
      width: 80px;
    }
    .ant-form-item-control-wrapper{
      width: 700px;
    }
  }
  .skinOtherInfo{
    .ant-form-item-label{
      width: 80px;
      height: 110px;
    }
  }
  .firstItemTitle{
    height: 782px;
    width: 12.5%;
    line-height: 782px;
    text-align: center;
    border-right: 1px solid #ccc;
  }
  .skinProperty{
    width: 12.5%;
    height: 280px;
    line-height: 280px;
    text-align: center;
    border-right: 1px solid #ccc;
  }
  .ant-form-item{
    margin-bottom: 0;
  }
  .ant-col-6{
    height: 55px;
    line-height: 55px;
  }

  .ant-form-item-control{
    height: 55px;
    line-height: 55px;
  }
  .lastItem{
    border-bottom: 0;
  }
  .skinPropertyItem{
    .ant-form-item-label{
      border-right:0;
    }
  }
  .bottomButton {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .commitButton{
    margin-right: 10px;
    font:14px "微软雅黑";
  }
  .BackBtn{
    background:#b67233;
    border-color:#b67233;
    color:#fff;
  }
  .SaveBtn{
    background:#f1e8df;
    border-color:#bb7c41;
    color:#b67233;
  }
}
