.skinHealthInformationDiv {
  min-width: 1020px;
  margin: 10px;
  margin-left: 0px;
  .formBox{
    margin-right: 10px;
    margin-bottom:10px;
    background: #fff;
    border:1px solid #ccc;
  }
  .tableForm{
    margin:10px;
    border:1px solid #ccc;
  }
  
}
