

.subTagTwo{

  background-color: rgb(115, 115, 115);
  color: #ffffff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-indent: 14px;
}

.subTagThree{
  color: #010101;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-indent: 14px;
}
