
.addSuite{
	height:100%;
	min-width:1020px;
	.addSuiteList{
		width:100%;
		background-color:#fff;
		height:20%;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    margin: 10px 0 10px 20px;
		}
		.name{
			margin-left: 50px;
			width: 300px;
			label{
				font:14px "微软雅黑";
			}
		}
		.price{
			margin-left: 10px;
      width: 300px;
			label{
				font:14px "微软雅黑";
			}
		}
		.input{
			width: 200px;
		}
		.introduction{
      width: 80%;
			margin-left:50px;
			margin-bottom: 20px;
			margin-top: 20px;
			label{
				font:14px "微软雅黑";
			}
      .ant-input {
        width: 600px;
      }
		}
		.ant-input-lg{
			width:145%;
			height:40px;
			font-size:12px;
		}
		.ant-select-lg{
			width:270px;
			.ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-lg .ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
		    .ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-selection__rendered{
			height: 40px;
		}
	}
	.roomName{
		width: 100%;
		background-color: #fff;
		height: 200px;
    margin-top: 10px;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    margin: 10px 0 10px 20px;
		}
		.roomColor{
			display: inline-block;
			float:left;
			height:40px;
			border:1px solid #999;
			text-align: center;
			line-height: 40px;
			font-size:20px;
      margin:10px 26px;
			border-radius: 4px;
			cursor: pointer;
      padding: 0 10px;

		}
		.roomColorA{
			display: inline-block;
			float:left;
			height:40px;
      border:1px solid #bb7c41;
			text-align: center;
			line-height: 40px;
			font-size:20px;
			margin:10px 26px;
			border-radius: 4px;
			cursor: pointer;
      background:#f1e8df;
      color:#bb7c41;
      padding: 0 10px;
		}
	}
}
