.commodity{
	height:100%;
	min-width: 1030px;

  .commodity-table {
    .ant-table-thead > tr > th {
      background-color: rgba(102, 102, 102, 1);
      font-weight: 500;
      transition: background .3s ease;
      text-align: center;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #FFFFFF;
    }
    .ant-table-tbody > tr > td {
      text-align:center;
      background-color: #fff;
      font-family: '微软雅黑 Regular', '微软雅黑';
      font-weight: 400;
      font-size: 14px;
    }
  }

  .top-button {
    overflow: hidden;
  }
}

.addCommodity{
	height:100%;
	min-width:1040px;
	.addSuiteList{
		width:100%;
		background-color:#fff;
		height:20%;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    margin: 10px 0 10px 20px;
		}
		.name{
			margin-left: 50px;
			margin-bottom: 10px;
			width:42%;
		}
		.price{
			margin-left: 10px;
		}
		.input{
			width: 400px;
		}
		.introduction{
			width:90%;
			margin-left:50px;
			margin-bottom: 20px;
			margin-top: 10px;
			.ant-input-lg{
				width:880px;
				height:40px;
				font-size:20px;
			}
		}
		.ant-input-lg{
			width:356px;
			height:40px;
			font-size:20px;
		}
		.ant-select-lg{
			width:270px;
			.ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-lg .ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
		    .ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-selection__rendered{
			height: 40px;
		}
	}
	.nameLetter{
		margin-left:61px;
		margin-bottom: 20px;
		font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
	}
	.button{
		display: inline-block;
		width: 140px;
    	height: 40px;
    	background-color: rgba(255, 153, 0, 1);
    	border-radius: 5px;
    	text-align: center;
    	line-height: 40px;
    	color:#fff;
    	font-size:14px;
    	margin-left:20px;
    	cursor: pointer;
	}
}

.viewCommodity{
	height:100%;
	min-width:1040px;
	.viewCommodityList{
		min-width: 1030px;
		background-color:#fff;
		height:20%;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    margin: 10px 0 10px 20px;
		}
		.name{
			margin-left: 50px;
			margin-bottom: 10px;
			width:42%;
			label{
				font:14px "微软雅黑";
			}
		}
		.price{
			margin-left: 10px;
			label{
				font:14px "微软雅黑";
			}
		}
		.input{
			width: 400px;
		}
		.introduction{
			width:90%;
			margin-left:50px;
			margin-bottom: 20px;
			margin-top: 10px;
			label{
				font:14px "微软雅黑";
			}
			.ant-input-lg{
				width:880px;
				height:40px;
				font-size:12px "微软雅黑";
			}
		}
		.ant-input-lg{
			width:356px;
			height:40px;
			font-size:12px "微软雅黑";
		}
		.ant-select-lg{
			width:270px;
			.ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-lg .ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
		    .ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-selection__rendered{
			height: 40px;
		}
	}
	.nameLetter{
			margin-left:61px;
			margin-bottom: 20px;
			font-family: '微软雅黑 Regular', '微软雅黑';
    	font-weight: 400;
   		font-style: normal;
			label{
				font:14px "微软雅黑";
			}
	}
	.button{
		display: inline-block;
		width: 140px;
    	height: 40px;
    	background-color: rgba(255, 153, 0, 1);
    	border-radius: 5px;
    	text-align: center;
    	line-height: 40px;
    	color:#fff;
    	font-size:14px;
    	margin-left:20px;
    	cursor: pointer;
	}
}

.editCommodity{
	height:100%;
	min-width:1030px;
	.editCommodityList{
		min-width:1030px;
		background-color:#fff;
		height:20%;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    margin: 10px 0 10px 20px;
		}
		.name{
			margin-left: 50px;
			margin-bottom: 10px;
			width:42%;
			label{
				font:14px "微软雅黑";
			}
		}
		.price{
			margin-left: 10px;
			label{
				font:14px "微软雅黑";
			}
		}
		.input{
			width: 400px;
		}
		.introduction{
			width: 90%;
			margin-left:50px;
			margin-bottom: 20px;
			margin-top: 10px;
			label{
				font:14px "微软雅黑";
			}
			.ant-input-lg{
				width:880px;
				height:40px;
				font-size:12px "微软雅黑";
			}
		}
		.ant-input-lg{
			width:356px;
			height:40px;
			font-size:12px "微软雅黑";
		}
		.ant-select-lg{
			width:270px;
			.ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-lg .ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
		    .ant-select-selection__rendered{
				height: 40px;
			}
		}
		.ant-select-selection__rendered{
			height: 40px;
		}
	}
	.nameLetter{
		margin-left:61px;
		margin-bottom: 20px;
		font-family: '微软雅黑 Regular', '微软雅黑';
    	font-weight: 400;
   		font-style: normal;
			label{
				font:14px "微软雅黑";
			}
	}
	.button{
		display: inline-block;
		width: 140px;
    height: 40px;
    background-color: rgba(255, 153, 0, 1);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color:#fff;
    font-size:14px;
    margin-left:20px;
    cursor: pointer;
	}
}
