.serviceinfo{
	height:100%;
	min-width:1030px;
	margin:0 10px;
	.serviceinfoButton{
		width:100%;
		height:60px;
		position: relative;
		button{
			position: absolute;
			width: 140px;
    		height: 40px;
    		right:2%;
    		top:30%;
				font:14px "微软雅黑";
		}
		margin-bottom:20px;
	}
	.firstA{
			color: #0066FF;
			text-decoration: none;
		}
		.twoA{
			border:none;
			background-color: #fff;
			margin-right:9px;
			margin-left:10px;
			color:#f75555;
			text-decoration: none;
		}
		.twoB{
			border:none;
			background-color: #fff;
			margin-right:9px;
			margin-left:10px;
			color:#666;
			text-decoration: none;
		}
	.serviceinfoTabal{
		.ant-table-thead > tr > th {
		    background-color: rgba(102, 102, 102, 1);
		    font-weight: 500;
		    transition: background .3s ease;
		    text-align: center;
		    font-family: '微软雅黑 Regular', '微软雅黑';
		    font-weight: 400;
		    font-style: normal;
		    font-size: 14px;
		    color: #FFFFFF;
		}
		.ant-table-tbody > tr > td {
		    text-align:center;
		    background-color: #fff;
			font-family: '微软雅黑 Regular', '微软雅黑';
		    font-weight: 400;
		    font-size: 14px;
			span{
				width:100%;
				a{
					color: #b67231;
					text-decoration: none;
				}
				a:hover{
					color:#0066ff;
				}
				.twoA:hover{
					color:#ff0000;
				}
			}
		}
	}
}
.addServiceinfo{
	height:100%;
	min-width:1040px;
	.addServiceinfoList{
		width:100%;
		background-color:#fff;
		height:20%;
		margin:10px;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
				margin:10px 0 10px 20px;
		}
		.name{
			margin-left: 40px;
			margin-bottom: 10px;
			label{
				font:14px "微软雅黑";
			}
			input{
				font: 14px "微软雅黑";
			}
		}
		.ant-form-item{
			margin:0 0 10px 40px;
			label{
				font:14px "微软雅黑";
			}
		}
		.ant-input-lg{
			width:270px;
			height:40px;
			font-size:14px "微软雅黑";
		}
		.ant-select-lg{
			width:270px;
			font-size:14px "微软雅黑";
		}
		.ant-select-lg .ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
				font:14px "微软雅黑";
		}
		.ant-select-selection__rendered{
			height: 40px;
			line-height: 40px;
		}
	}
	.addServiceinfoTable{
		width:100%;
		background-color:#fff;
		height:20%;
		margin:10px;
		border-radius: 4px;
		border:1px solid #999;
		.ant-table-thead > tr > th {
		    background-color: rgba(102, 102, 102, 1);
		    font-weight: 500;
		    transition: background .3s ease;
		    text-align: center;
		    font-family: '微软雅黑 Regular', '微软雅黑';
		    font-weight: 400;
		    font-style: normal;
		    font-size: 14px;
		    color: #FFFFFF;
			padding: 10px 5px;
		}
		.span{
			input{
				width:50%;
				height:40px;
				text-align: center;
				font-size:14px "微软雅黑";
			}
		}
		.ant-table-tbody > tr > td {
			padding: 3px 0px;
		    text-align:center;
		    background-color: #fff;
			font-family: '微软雅黑 Regular', '微软雅黑';
		    font-weight: 400;
		    font-size: 14px;
		}
	}
	.addServiceinfoSuite {

		width:100%;
		background-color:#fff;
		height:20%;
		margin:10px;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 700;
		    font-style: normal;
		    font-size: 14px;
		    margin: 10px 0 10px 20px;
		}
		.roomVist{
			font-size: 12px;
			color:red;
		}
		.room{
			margin-left: 40px;
			margin-bottom:10px;
			label{
				font:14px "微软雅黑";
			}
			.ant-select{
				font-size:14px "微软雅黑";
			}
		}
		.ant-select{
			width:270px;
			margin-left: 20px;
			font-size:14px "微软雅黑";
		}
		.ant-select-selection__rendered{
			line-height: 40px;
			font-size:14px "微软雅黑";
		}
		.ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
				.ant-select-selection-selected-value{
					font-size:14px "微软雅黑";
				}
		}
		.ant-select-arrow:before{
			font-size: 20px;
		}
	}
	.ant-btn {
		margin-left:690px;
		width:140px;
		height:40px;
		span{
			display: inline-block;
			height:40px;
			width:100%;
			text-align:center;
			line-height: 40px;
			font-size: 14px "微软雅黑";
		}

	}
	.ant-btn-primary{
    	margin-left:30px;
    	width:140px;
    	height:40px;
			span{
				font-size: 14px "微软雅黑";
				color:#fff;
			}

	}
}
