.viewServiceinfo{
	height:100%;
	min-width: 1030px;
	.viewServiceinfoList{
		width:100%;
		background-color:#fff;
		height:20%;
		margin:10px 0 0 10px;
		border-radius: 4px;
		border:1px solid #999;
		overflow: hidden;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 900;
		    font-size: 14px;
			margin:10px 0 10px 10px;
		}
		.namep,.pricep,.typep{
			float:left;
		}
		.namep{
			margin-left:50px;
			font-weight: 100;
			margin-top: 0px;
		}
		.pricep{
			margin-left:200px;
			font-weight:100;
			margin-top: 0;
		}
		.typep{
			margin-left:200px;
			font-weight: 100;
			margin-top:0;
		}
		.twoA{
			border:none;
			background-color: #fff;
			margin-right:9px;
			margin-left:10px;
			color:#f75555;
			text-decoration: none;
		}
		.twoB{
			border:none;
			background-color: #fff;
			margin-right:9px;
			margin-left:10px;
			color:#666;
			text-decoration: none;
		}
		.name{
			margin-left: 40px;
			margin-bottom: 10px;
			label{
				font:14px "微软雅黑";
			}
		}
		.ant-form-item{
				margin:0 0 10px 40px;
				label{
					font:14px "微软雅黑";
				}
		}
		.ant-input-lg{
			width:270px;
			height:40px;
			font:14px "微软雅黑";
		}
		.ant-select-lg{
			width:270px;
		}
		.ant-select-lg .ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
				font:14px "微软雅黑";
		}

	}
	.viewServiceinfoTable{
		width:100%;
		background-color:#fff;
		height:30%;
		margin:10px;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 900;
		    font-style: normal;
		    font-size: 14px;
			margin:10px 0 10px 10px;
		}
		.ant-table-wrapper{
			margin: 0 10px;
		}
		.ant-table-thead > tr > th {
		    background-color: rgba(102, 102, 102, 1);
		    font-weight: 500;
		    transition: background .3s ease;
		    text-align: center;
		    font-family: '微软雅黑 Regular', '微软雅黑';
		    font-weight: 400;
		    font-style: normal;
		    font-size: 14px;
		    color: #FFFFFF;
			padding: 10px 5px;
		}
		.span{
			input{
				width:50%;
				height:40px;
				text-align: center;
				font:14px "微软雅黑";
			}
		}
		.ant-table-tbody > tr > td {
			padding: 3px 0px;
		    text-align:center;
		    background-color: #fff;
			font-family: '微软雅黑 Regular', '微软雅黑';
		    font-weight: 400;
		    font-size: 14px;
		}
	}
	.viewServiceinfoSuite {
		width:100%;
		background-color:#fff;
		height:20%;
		margin:10px;
		border-radius: 4px;
		border:1px solid #999;
		p{
			font-family: '微软雅黑 Bold', '微软雅黑';
		    font-weight: 900;
		    font-size: 14px;
				margin:10px 0 10px 20px;
		}
		.namep{
      margin-left:50px;
			font-weight:100;
    }
		.room{
			margin-left: 40px;
			margin-bottom:10px;
			label{
				font: 14px "微软雅黑";
			}
		}
		.ant-select{
			width:270px;
			margin-left: 20px;
		}
		.ant-select-selection__rendered{
			line-height: 40px;
		}
		.ant-select-selection--single {
		    height: 40px;
		    line-height: 40px;
				font:14px "微软雅黑";
		}
		.ant-select-arrow:before{
			font-size: 20px;
		}
	}
	.ant-btn {
		margin-left:55%;
		width:140px;
		height:40px;
		font:14px "微软雅黑";
	}
	.ant-btn-primary{
    	margin-left:20px;
    	width:140px;
    	height:40px;
			font:14px "微软雅黑";
	}
	.delet{
		background-color: rgba(255, 74, 74, 1);
		margin-left:20px;
		color:#fff;
		font:14px "微软雅黑";
		border:none;
	}
}
