.AddChildNode{
	.ant-modal-header{
		text-align: center;
		background-color: rgba(228, 228, 228, 1);
	}
  .ant-form-item{
    .ant-form-item-label{
      line-height: 40px;
    }
    height: 40px;
    margin-bottom: 5px;
    .ant-input[disabled]{
      height:40px;
    }
    .ant-select-selection--single{
      height:40px;
    }
  }
  .formText{
    height:50px;
    .ant-form-item-label{
      line-height: 50px;
    }
  }
	.nodeLeaderIput{
		width:70%;
		margin-left: 42px;
	}
	.nodeLeader{
		margin-right: 92px;
	    float: right;
	    margin-top: -44px;
	}
}
.SeeChildNode{
	.ant-modal-header{
		text-align: center;
		background-color: rgba(228, 228, 228, 1);
	}
	.edit{
		background-color: rgba(22, 155, 213, 1);
		border: 0;
	}
	.delet{
		background-color: rgba(255, 74, 74, 1);
		border:none;
	}
	.nodeLeaderIput{
		width:70%;
		margin-left: 42px;
	}
	.nodeLeader{
		margin-right: 92px;
	    float: right;
	    margin-top: -55px;
	}

	.ant-modal-body{
		overflow: hidden
	}
	.ant-btn-primary{
		float:right;
		margin-right:30px;
		margin-top:10px;
	}
  .ant-modal-footer{
    .ant-btn-primary{
      margin-top:0;
    }
  }
}
.Disabled{
	.ant-modal-header{
		text-align: center;
		background-color: rgba(228, 228, 228, 1);
	}
	.ant-modal-body{
		text-align: center;
	}
	.nodeLeaderIput{
		width:70%;
		margin-left: 42px;
	}
	.nodeLeader{
		margin-right: 92px;
	    float: right;
	    margin-top: -55px;
	}

	.vertical-center-modal {
	  text-align: center;
	  white-space: nowrap;
	  .ant-modal {
	    display: inline-block;
	    vertical-align: middle;
	    top: 0;
	    text-align: center;
	    .ant-modal-body {
	      text-align: left;
	    }
	  }
	}

	.vertical-center-modal:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  width: 0;
	}
	button{
		width: 80px;
		.ant-btn{
			width: 80px;
			float: left;
		}
	}
}
