.AddJob{
	//overflow: auto;
	//.ant-modal-header{
	//	text-align: center;
	//}
	//.AddChildNode{
    //
	//.ant-modal-content{
	//	top:-60px;
	//}
	//.ant-calendar-picker-icon:after{
	//	font-size:24px;
	//	margin-left:-14px;
	//	margin-top: -6px;
	//}
	.title-information{
		height:40px;
		line-height:40px;
		font-size:14px;
		color:#fff;
		margin: 10px;
		text-indent:20px;
		background-color: rgba(102, 102, 102, 1);
	}
  .right-button {
    position: absolute;
    top: 0;
    margin-left: 10px;
  }

//	.entryInformationForm{
//		margin-left: 30px;
//		background-color: #fff;
//
//
//	}
//	.contactInformationForm{
//		width:97%;
//		margin-left: 30px;
//		background-color: #fff;
//		margin-bottom: 20px;
//
//
//		.information{
//			margin-left: 14px;
//		}
//		.internalExtension{
//			margin-bottom: 20px;
//			margin-left: 14px;
//		}
//	}
//	.returnButton,.saveButton{
//		float:right;
//		margin: 0 20px;
//		width:100px;
//	}
//}
}
