
.add-user-info{
  background-color: white;

  .right-button {
    position: absolute;
    top: 0;
    margin-left: 10px;
  }

  img {
    width: 100px;
    height: 100px;
  }
	//min-width: 1100px;
  .avatar-uploader {
    cursor: pointer;
  }

	.ant-calendar-picker-icon:after{
		font-size:24px;
		margin-left:-14px;
		margin-top: -6px;
	}

	.information{
		width:100%;
    margin-bottom: 40px;
		height:40px;
		line-height:40px;
		font-size:14px;
		color:#fff;
		text-indent:20px;
		background-color: rgba(102, 102, 102, 1);
	}

  .information-item {
    max-width: 1016px;
  }



}
