<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--[if lte IE 8]>
    <script>
        window.location.href='http://myqianlan.qiniudn.com/upgrade-your-browser.html?refer='+location.href;
    </script>
    <![endif]-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        //动态引入JS文件
        var version1 = new Date().getTime();
        //TINET_TOOLBAR_URL定义工具条地址, 变量名称不能改
        var CCIC2_TOOLBAR_URL = "http://agent.clink.cn";
        document.write("<script src='"+CCIC2_TOOLBAR_URL+"/jws/sourceCode/ccic2Toolbar.js?version="+version1+"' charset='UTF-8'><\/script>");
    </script>
    <style>
    .telephone-system-content{
       border:1px solid #000; background-color:#FFF;
       background-color: white;
       z-index: 10;
       width:1000px;
       height:800px;
       position:absolute;
       left:50%;
       top:50%;
       margin-left:-500px;
       margin-top:-400px;
       display: none;
    }
    </style>

</head>
<body>

<div class='telephone-system-content'>
  <div style="position:absolute; width:100%; bottom:2px; ">
      <table border="0" cellspacing="0" cellpadding="0" style="min-width:380px; margin:0;">
          <td align="left" id="toolbarButton">
            <input type="button" id="pause" class='system-button2' value="置忙"/>
            <input type="button" id="online" class='system-button2' value="置闲"/>
            <input type="button" id="answer" class='system-button2' value="接听"/>
            <input type="button" id="unLink" class='system-button2' value="挂断"/>
            <input type="button" id="refused"  class='system-button2' value="拒接"/>
            <input type="button" id="hold" class='system-button2' value="保持"/>
            <input type="button" id="unHold"  class="system-button3" value="保持接回"/>
            <input type="button" id="consult" class='system-button2' value="咨询"/>
            <input type="button" id="consultBack"  class="system-button3" value="咨询接回"/>
            <input type="button" id="consultTransfer"  class="system-button3" value="咨询转接"/>
            <input type="button" id="consultThreeway"  class="system-button3" value="咨询三方"/>
            <input type="button" id="transfer"  class='system-button2' value="转移"/>
            <input type="text"   id="phoneCallText" value="" maxlength="12" style="display:none;width:100px;height:28px;line-height:28px;font-family:verdana;border:solid 1px #ddd;vertical-align:top;margin-top:2px;"/>
            <input type="button" id="phoneCallout"  class="system-button3" value="呼叫"/>
            <input type="button" id="phoneCallCancel" class="system-button3" value="呼叫取消"/>

          </td>
        </tr>
      </table>
    </div>
</div>


<div id="root"></div>
<% for (var asset in htmlWebpackPlugin.options.externalsAssets) { %>
<script src="<%= htmlWebpackPlugin.options.externalsAssets[asset] %>"></script>
<% } %>

<script>
    var orderCallbackCount = 0;
    function callout(tel){
    	var params = {};

    	params.tel = document.getElementById('tel').value;
    	params.callType = '3'; //3点击外呼
    	window.executeAction("doPreviewOutCall", params);
    }
    function login(){//登录

        var params = {};
        params.hotLine = document.getElementById('hotLine').value;
        params.cno =  document.getElementById('cno').value;
        params.pwd =  document.getElementById('pwd').value;
        params.bindTel =  document.getElementById('bindTel').value;
        params.bindType = document.getElementById('bindType').value;
        params.initStatus =  document.getElementById('initStatus').value;
    	if(params.bindType == "3"){
    		params.sipIp = document.getElementById('sipIp').value;
    		params.sipPwd = document.getElementById('sipPwd').value;
    	}
    	window.executeAction('doLogin',  params);//执行登陆 ccic2里面的js类

    }
    function logout(){//登出
    	var params = {};
    	params.type=1;
    	window.executeAction('doLogout', params);
    }

    function readyLoad(d){
    	//在这里登录
    	//login();
    }

    //----------- 回调函数 ------------
    /**
     * 登录回调 cbLogin
     * 返回json对象token:  {"type":"response","code":"0","msg":"ok","reqType":"login",
    	"sessionId":"812c16f96fa7f4bf34d75e07de4950bb", "hotline":"4006006001",
    	"enterpriseId":"3000000","cno":"2002", "cname":"test","bindTel":"01041005975","bindType":"1"}
     * code描述
    0 ：登录成功
    4 ：座席不在任何一个队列
    29 ：在线座席数超过并发限制
    23 ：默认自定义置忙状态配置错误
     * hotline 热线号码
     * enterpriseId 企业号
     * cno 座席工号
     * cname 座席姓名
     * bindTel 绑定电话
     * bindType 绑定电话类型
    */
    function cbLogin(token){//登陆
    	if(token.code == "0"){
    		// alert("登录成功");
        sendCallBack({ type:'login', token: token })

    		orderCallbackCount = token.allCallBackCount;
    		window.executeAction('doQueueStatus');//获取队列数据

    	}else{
    		alert("登录失败！" + token.msg);
    	}
    }

    /**
     * 外呼回调 cbPreviewOutCall
     * 返回json对象token:  "type":"response","code":"0","msg":"ok","reqType":"previewOutCall"
     * code描述
    0  ：成功
    6  ：外呼失败，参数错误
    13 ：外呼失败，外呼号码格式错误
    20 ：外呼失败，呼叫范围受限
    25 ：外呼失败，此号码为黑名单
    26 ：外呼失败，座席没有外呼权限，请联系管理员
    27 ：外呼失败，余额不足
    28 ：外呼失败，没有路由
    */
    function cbPreviewOutCall(token) {  //外呼回调

    }

    /**
     * 有预约回呼
    */
    function cbOrderCallBack(token) {
    	if(token.addORReduce == 1) {
    		orderCallbackCount++;
    	}
    	if(token.addORReduce == -1) {
    		orderCallbackCount--;
    	}
    }

    function cbLogout(token) {//退出
        if(buttType){
            token=JSON.parse(token);
        }
        if(token.code == "0"){
            alert("已退出");
            typeButton.buttonDisabled();
            $('#status').text("离线");
        }
    }

    function cbThisStatus(token){ //状态回调：来电弹屏等
        if(buttType){
            token=JSON.parse(token);
        }
        sendCallBack({ type: 'status', token: token })

        if(token.cno == 2000){
            //callType：
            //1：呼入，2：网上400,3：点击外呼，4：预览外呼，5：IVR外呼，6：分机直接外呼
            if(token.eventName == "comeRinging"&&token.name == "ringing"){	//呼入响铃
                // alert("来电号码：" + token.customerNumber);
                //var call_id = token.uniqueId;		//获取录音编号
            }
            if(token.eventName == "normalBusy"&&token.name == "status"){ // 呼入接听
                // alert("来电号码：" + token.customerNumber + "已接听");
            }

            if(token.eventName == "consultLink"&&token.name == "consultLink"){	//咨询接听
                // alert("咨询号码" + token.consultObject + "已接听");
            }

            if(token.eventName == "normalBusy"&&token.name == "consultError"){	//咨询失败
                // alert("咨询失败");
            }
            if(token.eventName == "neatenStart"){	//客户挂断，整理开始：呼入、空闲时外呼
                // alert("已挂机，开始整理");
            }
            if(token.eventName == "neatenEnd"){	//客户挂断，整理结束：呼入、空闲时外呼
                // alert("整理结束");
            }
            if(token.eventName == "outRinging"&&token.name == "ringing"&&token.callType == "3"){	//外呼时座席响铃: 3、点击外呼
                 // alert("外呼号码：" + token.customerNumber);
                //var call_id = token.uniqueId;		//获取录音编号
            }
            if(token.eventName == "waitLink"&&token.callType == "3"){	//座席接听后外呼客户:3、点击外呼
                // alert("座席接听，开始呼叫客户");
            }
            if(token.eventName == "outBusy"&&token.name == "previewOutcallBridge"&&token.callType == "3"){	//外呼客户:3、点击外呼
                // alert("外呼号码：" + token.customerNumber + "已接听");
            }
            if(token.eventName == "onlineUnlink"){	//空闲时外呼，客户无应答，座席挂机
                // alert("已挂机");
            }
            if(token.eventName == "pauseUnlink"){	// 置忙时外呼，客户挂断或无应答，座席挂机
                // alert("已挂机");
            }
        }

    }

    function consult(){ // 咨询
    	var consultText = document.getElementById("consultText").value;
    	if(consultText == ''){
    		alert("号码不能为空");
    	}else{
    		var obj = {};
    		obj.consultObject = consultText;
    		obj.objectType = document.getElementById("consultType").value;
    		window.executeAction('doConsult',  obj);
    	}
    }

    function transfer(){ //
    	var transferText = document.getElementById("transferText").value;
    	var obj = {};
    	obj.transferObject = transferText;
    	obj.objectType = document.getElementById("transferType").value;
    	window.executeAction('doTransfer', obj);
    }

    function consultCancel(){ // 取消咨询
    	window.executeAction('doConsultCancel');
    }

    function cbQueueStatus(data){ //得到队列数据
      sendCallBack({ type: 'queueStatus', data: data })

    }
    function cbStatus(json){ //改变队列座席状态
    	var status = window.deviceStatus.deviceStatusLoginStatus(json.deviceStatus+json.loginStatus, json.pauseDescription, json.busyDescription);
    }

    function qMonitoring(qid){ //获取队列数据
    	window.executeAction('doQueueStatus');
    }


    function cbQueue(json){ // 队列回调
    	if(json.customerNumber != undefined && json.customerNumber == 'unknown_number'){//转义未知号码
    		json.customerNumber ='未知号码';
    	}
      sendCallBack({ type: 'queue', json: json })
    }

    var typeButton = {
        phoneCallout : function(){//外呼
            $("#phoneCallout").show().attr("disabled", false);
            $("#phoneCallout").unbind("click");
            $("#phoneCallout").bind({
                click : function(){
                    var params = {};
                    params.tel = $('#phoneCallText').val();
                    params.callType = '3'; //3点击外呼
                    executeAction('doPreviewOutCall', params);
                }
            });
        },
        phoneCallText : function(){
            $("#phoneCallText").attr("disabled", false);
            $("#phoneCallText").show();

        },
        phoneCallCancel : function(){//外呼取消
            $("#phoneCallCancel").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#phoneCallCancel").unbind("click");
            $("#phoneCallCancel").bind({
                click : function(){
                    executeAction('doPreviewOutcallCancel');
                }
            });
        },
        refused : function(){//拒接
            $("#refused").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#refused").unbind("click");
            $("#refused").bind({
                click : function(){
                    executeAction('doRefuse');
                }
            });
        },
        unLink : function(){//挂断

            $("#unLink").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#unLink").unbind("click");
            $("#unLink").bind({
                click : function(){
                    executeAction('doUnLink');
                }
            });
        },
        hold : function(){//保持
            $("#hold").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#hold").unbind(" click");
            $("#hold").bind({
                click : function(){
                    executeAction('doHold');
                }
            });
        },
        unHold : function(){//保持接回

            $("#unHold").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#unHold").unbind(" click");
            $("#unHold").bind({
                click : function(){
                    executeAction('doUnhold');
                }
            });
        },
        online : function(){//空闲

            $("#online").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#online").unbind(" click");
            $("#online").bind({
                click : function(){
                    executeAction('doUnpause');
                }
            });
        },
        pause : function(){//置忙

            $("#pause").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#pause").unbind(" click");
            $("#pause").bind({
                click : function(){
                    var param={};
                    param.description="置忙";
                    executeAction('doPause', param);

                }
            });
        },
        buttonDisabled : function(){//按钮恢复状态
            $("#toolbarButton input").hide();
            $("#toolbarButton input").css({"backgroundPosition":"0px 0px"});
            $("#toolbarButton input").attr("disabled", true);
            $("#toolbarButton input").unbind("click");
        },
        consult : function(){//咨询
            $("#consult").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#consult").unbind("    click");
            $("#consult").bind({
                click : function(){
                    var type = $("#consultInput").val();
                    var number = $("#phoneCallText").val();
                    var object = {};
                    object.consultObject = number;
                    object.objectType = type;
                    executeAction('doConsult', object);
                }
            });
        },
        consultBack : function(){//咨询接回
            $("#consultBack").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#consultBack").unbind("    click");
            $("#consultBack").bind({
                click : function(){
                    executeAction('doUnconsult');
                }
            });
        },
        consultTransfer : function(){//咨询转接
            $("#consultTransfer").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#consultTransfer").unbind("    click");
            $("#consultTransfer").bind({
                click : function(){
                    executeAction('doConsultTransfer');
                }
            });
        },
        consultThreeway : function(){//咨询三方
            $("#consultThreeway").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#consultThreeway").unbind("    click");
            $("#consultThreeway").bind({
                click : function(){
                    executeAction('doConsultThreeway');

                }
            });
        },
        transfer : function(){//转移
            $("#transfer").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
            $("#transfer").unbind("    click");
            $("#transfer").bind({
                click : function(){
                    var type = $("#consultInput").val();
                    var number = $("#phoneCallText").val();
                    var object = {};
                    object.transferObject = number;
                    object.objectType = type;
                    executeAction('doTransfer', object);
                }
            });
        },
        answer : function(){//接听 软电话功能
            if(userBasic.getBindType() == '3'){
                $("#answer").show().attr("disabled", false).css({"backgroundPosition":"0px -33px"});
                $("#answer").unbind("    click");
                $("#answer").bind({
                    click : function(){
                        executeAction('doLink');
                    }
                });
            }
        }
    }


    function cbWelcome(token) { //连接成功

    }


   function sendCallBack(callback) {
      window.callback = callback
      $('#bridging-btn').click();
   }

</script>
</body>
</html>
